<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="mi-visor">
 <template>

 <style>
:host {
  display: block;
}
</style>
<h2>Hello [[prop1]]!</h2>
<h3>Mi valor es [[prop2]]</h3>
<div class="container">
<div class="row">
  <img width="2000px" height="200" calss="col-lg 8 col-xs-12" src="https://image.flaticon.com/icons/svg/755/755140.svg" alt="">
</div>
</div class="row">
<button on-clck= "incrementar" type="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Carga de datos</button>
<input type="text" value="{{prop1::input}}">
<input type="text" value="[[prop1]]">
</div>
<div class="row">
 <table class="table table-striped col-lg-12 col-xs-12">
   <head>
  <th>ID</th>
  <th>Nombre</th>
  <th>Apellido</th>
</head>
<body>
  <tr>
    <td>1</td>
     <td>Elena</td>
      <td>Nito del Bosque</td>
    </tr>
<tr>
  <td>2</td>
   <td>Leandro</td>
    <td>Gao</td>
</tr>
</body>
</div>
</div>
</div>
</template>

<script>
  /**
   * @customElement
   * @polymer
   */
  class MiVisor extends Polymer.Element {
    static get is() { return 'mi-visor'; }
    static get properties() {
      return {
        prop1: {
          type: String,
        //  value: 'mi-visor'
      },
prop2: {
type: Number,
value: 999
}
};
}
incrementar(){
this.prop2 = this.prop2+1;
console.log(this.prop1);
console.log(this.prop2);
}
}

window.customElements.define(MiVisor.is, MiVisor);
</script>
</dom-module>
